@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.cont{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(129, 33, 33); */
    /* background:linear-gradient(rgb(86, 86, 163),white); */

}

.nav{
    width: 100%;
    height: 9vh;
    /* background-color: white; */
    background: linear-gradient( 60deg,rgb(214, 210, 210), rgb(7, 146, 65));

    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav h2{
    margin-left: 10px;
    font-size: 35px;
    font-family: "Pixelify Sans", sans-serif;
}



.main{
    margin-top: 50px;
    display: grid;
    justify-content: center;
    
    /* text-align: center; */
    /* margin-left: 30px; */
    /* background-color: blue; */
    width: 100%;
}
input{
    /* border-radius: 8px; */
    padding: 5px 2px;
    /* margin-right: 20px; */
    height: 100%;
    border: none;
    /* background-color: #eed39e; */
    /* background-color: blanchedalmond; */
    /* border: 1px solid rgb(107, 9, 9); */
    color: rgb(6, 138, 61);
    font-size: 15px;
   font-weight: bold;
    /* margin-top: 5px; */
    /* box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px; */

}

input[type="text"]:focus {
    outline: none;
    box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px;
    /* box-sizing: border-box; */
  transition: all 0.2s ease-in-out;
    
    
  }

  input[type="text"]::placeholder {
    color: #999;
    font-style: italic;
    font-size: 13px;
    padding-left: 10px;
  }


.edit-btn{
    color:white;
    background-color:#009879;

    padding: 10px 10px;
    /* margin-right: 8px; */
    border: none;
    font-weight: bold;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    cursor: pointer;
 }

 .edit-btn:hover{
    background-color:#2cb89c;

    color:white;
 }
 .delete-btn:hover{
    background-color:#2cb89c;


 }
 .delete-btn{
    background-color:#009879;


    color:white;
    padding: 10px 6px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    
 }

 .add-btn{
   font-weight: bold;
   padding: 10px 20px;
   
   margin-right: 10px;
   cursor: pointer;
   border: none;
   color: white;
    /* background:linear-gradient(rgb(234, 234, 240),rgb(107, 105, 105)); */
    background-color: rgb(6, 90, 55);


 }

 .save-btn{
    font-weight: bold;
   padding: 10px 6px;
   /* margin-right: 10px; */
   cursor: pointer;
   border: none;
   color: white;
   border-radius: 5px;
   background-color:#009879;

 }
 .save-btn:hover{
    background-color:#2cb89c;


 }

 
 
/* table design  */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
